{% extends 'base.html.twig' %}

{% block title %}Noticia index
{% endblock %}

{% block body %}

	<section class="ftco-section">
		<div class="container-xl">
			{% if admin %}
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<a href="{{ path('noticia_new') }}" class="btn btn-primary">Create new</a>
					</div>
				</div>
			{% endif %}

			<div class="row">
				{% include "noticia/list.html.twig"%}
			</div>
		</div>
	</section>

{% endblock %}
