{% for noticia in notivias %}
<div class="block-21 mb-4 d-flex">
	<a class="blog-img img rounded" style="background-image:url(images/ximage_4.jpg.pagespeed.ic.maJrh0w-s2.webp)"></a>
	<div class="text">
		<div class="meta">
			<div>
				<a href="{{path('noticia_show', {'id': noticia.id})}}">
					<span class="fa fa-calendar"></span>
					{{noticia.created|date("d M Y")}}</a>
			</div>
		</div>
		<h3 class="heading">
			<a href="{{path('noticia_show', {'id': noticia.id})}}">{{noticia.titulo}}</a>
		</h3>
	</div>
</div>
{% endfor %}