{% extends 'base.html.twig' %}

{% block title %}New Endereco{% endblock %}

{% block body %}
    <h1>Create new Endereco</h1>

    {{ include('endereco/_form.html.twig') }}

    <a href="{{ path('endereco_index') }}">back to list</a>
{% endblock %}
