{% extends 'base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row no-gutters justify-content-center">
			<div class="col-md-12">
				<div class="wrapper">
					<div class="row g-0">
						<div class="col-lg-6 order-lg-last">
							<div class="contact-wrap w-100 p-md-5 p-4">
								<h3>Fale connosco</h3>
								<p class="mb-4">Estamos abertos para sugestões ou contactos gerais</p>
								<div class="row mb-4">
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Endereço:</span>
													Caxito, Bengo Angola</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Email:</span>
													<a href="mailto:info@yoursite.com">info@yoursite.com</a>
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Phone:</span>
													<a href="tel://244922000000">+244 922 00 00 00</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<form id="contactForm" name="contactForm" class="contactForm">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" class="form-control" name="name" id="name" placeholder="Nome completo">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="email" class="form-control" name="email" id="email" placeholder="Email">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Escreva aqui a sua mensagem"></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="submit" value="Enviar mensagem" class="btn btn-primary">
												<div class="submitting"></div>
											</div>
										</div>
									</div>
								</form>
                                <p class="mb-4">Reitoria</p>
								<div class="row mb-4">
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Endereço:</span>
													Caxito, Bengo Angola</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Email:</span>
													<a href="mailto:info@yoursite.com">info@yoursite.com</a>
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Phone:</span>
													<a href="tel://244922000000">+244 922 00 00 00</a>
												</p>
											</div>
										</div>
									</div>
								</div>
                                <p class="mb-4">Secretaria</p>
								<div class="row mb-4">
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Endereço:</span>
													Caxito, Bengo Angola</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Email:</span>
													<a href="mailto:info@yoursite.com">info@yoursite.com</a>
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Phone:</span>
													<a href="tel://244922000000">+244 922 00 00 00</a>
												</p>
											</div>
										</div>
									</div>
								</div>
                                <p class="mb-4">Assuntos academicos</p>
								<div class="row mb-4">
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Endereço:</span>
													Caxito, Bengo Angola</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Email:</span>
													<a href="mailto:info@yoursite.com">info@yoursite.com</a>
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="dbox w-100 d-flex align-items-start">
											<div class="text">
												<p>
													<span>Phone:</span>
													<a href="tel://244922000000">+244 922 00 00 00</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="w-100 social-media mt-5">
									<h3>Redes sociais</h3>
									<p>
										<a href="#">Facebook</a>
										<a href="#">Twitter</a>
										<a href="#">Instagram</a>
										<a href="#">Dribbble</a>
									</p>
								</div>
								<div class="w-100 social-media mt-5">
									<h3>Redes sociais</h3>
									<p>
										<a href="#">Facebook</a>
										<a href="#">Twitter</a>
										<a href="#">Instagram</a>
										<a href="#">Dribbble</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6  align-items-stretch">
							<div style="position: relative; overflow: hidden; height:100%">
                            <iframe  style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7052.322494320478!2d13.654689733769796!3d-8.581989583113776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a4e220cdc4068bb%3A0x93d12d77a122e0f5!2sMissionarias%20Eucaristica!5e0!3m2!1sen!2sao!4v1644648474120!5m2!1sen!2sao" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}