{% extends 'base.html.twig' %}

{% block title %}Curso index
{% endblock %}

{% block body %}

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row no-gutters justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row g-0" style="background:#ccc">
							<div class="col-lg-6 order-lg-last">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<p>
										Prezados,
										É com imenso prazer que lhe damos as boas-vindas à nossa página que espelha, de forma sintéctica, as diferentes actividades da Escola Superior Pedagógica do Bengo (ESP-Bengo), sustentadas na inter-relação dialéctica dos quatros eixos fundamentais de toda universidade moderna: o ensino, investigação, extensão e gestão.
										A missão e visão da ESP-Bengo, decorrentes das atribuições do seu Estatuto Orgânico, em conjugação com os valores que se preconizam como a responsabilidade social, o humanismo, participação  activa, a democracia, solidariedade, excelência, aprendizagem para a vida, racionalidade, cidadania, autonomia, a criatividade e inovação, entre outros, têm catapultado a  nossa instituição no diagnóstico e solução das diferentes situações problemáticas que enfermam o contexto no qual se encontra, com incidência a nível nacional e internacional.</p>
								</div>
							</div>
							<div class="col-lg-6"></div>
						</div>
						<div class="row g-0" style="background:#FFF">
							<div class="col-lg-4 order-lg-last">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3>Missão</h3>
                                    <p>
                                    No rodapé estão disponíveis os contactos de todas as áreas da instituição para o envio de qualquer observação para esclarecimentos ou sugestões que permitam a melhoria da página e dos serviços de forma geral.</p>
								</div>
							</div>
                            <div class="col-lg-4 order-lg-last">
								<div class="contact-wrap w-100 p-md-5 p-4">
                                    <img src="/logo/new_logo.png" style="width:100%"/>
								</div>
							</div>
                            <div class="col-lg-4 order-lg-last">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3>Visão</h3>
                                    <p>
                                    A 3.ª Conferência Internacional de Extensão Universitária em Angola e 2º Seminário Metodológico Integrador Angola-Brasil, foram realizado sob o tema: “Extensão universitária face às catástrofes naturais e sociais do nosso tempo”</p>
								</div>
							</div>
						</div>
						<div class="row g-0" style="background:#FFF">
							<div class="col-lg-4 order-lg-last">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3>História</h3>
                                    <p>
                                    No rodapé estão disponíveis os contactos de todas as áreas da instituição para o envio de qualquer observação para esclarecimentos ou sugestões que permitam a melhoria da página e dos serviços de forma geral.</p>
									<div class="text-center">
														<a href="{{ path('historia') }}" class="btn d-block btn-primary btn-outline-primary py-3">Ler mais</a>
													</div>
								</div>
							</div>
                            <div class="col-lg-4 order-lg-last">
								<div class="contact-wrap w-100 p-md-5 p-4">
                                    <img src="/logo/new_logo.png" style="width:100%"/>
								</div>
							</div>
                            <div class="col-lg-4 order-lg-last">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3>Visão</h3>
                                    <p>
                                    A 3.ª Conferência Internacional de Extensão Universitária em Angola e 2º Seminário Metodológico Integrador Angola-Brasil, foram realizado sob o tema: “Extensão universitária face às catástrofes naturais e sociais do nosso tempo”</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section class="ftco-section-counter img" style="background-image:url(/images/xbg_3.jpg.pagespeed.ic._5ftKPXrag.webp)">
			<div class="overlay"></div>
			<div class="container">
				<div class="row section-counter viewed">
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-graduation"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">3,000</span>
								</h2>
								<span class="caption">Capacidade de Estudantes</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-engineer"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">10</span>
								</h2>
								<span class="caption">Laboratorios</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-learning"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">40</span>
								</h2>
								<span class="caption">Salas de Aulas</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
						<div class="counter-wrap-2 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
							<div class="icon">
								<span class="flaticon-certificate"></span>
							</div>
							<div class="text">
								<h2 class="number">
									<span class="countup">8</span>
								</h2>
								<span class="caption">Cursos</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
