{% extends 'base.html.twig' %}

{% block title %}Edit Candidato{% endblock %}

{% block body %}
    <h1>Edit Candidato</h1>

    {{ include('candidato/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('candidato_index') }}">back to list</a>

    {{ include('candidato/_delete_form.html.twig') }}
{% endblock %}
