{% extends 'base.html.twig' %}

{% block title %}New Sobre{% endblock %}

{% block body %}
    <h1>Create new Sobre</h1>

    {{ include('sobre/_form.html.twig') }}

    <a href="{{ path('sobre_index') }}">back to list</a>
{% endblock %}
