{% extends 'base.html.twig' %}

{% block title %}Edit VagaEmprego{% endblock %}

{% block body %}
    <h1>Edit VagaEmprego</h1>

    {{ include('vaga_emprego/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
