<section class="ftco-section bg-light ftco-no-pt">
	<div class="container-xl">
		<div class="row justify-content-center">
			<div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
				
			</div>
		</div>
		<div class="row justify-content-center">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
</section>