{% extends 'base.html.twig' %}

{% block title %}New Periodo{% endblock %}

{% block body %}
    <h1>Create new Periodo</h1>

    {{ include('periodo/_form.html.twig') }}

    <a href="{{ path('periodo_index') }}">back to list</a>
{% endblock %}
