<form method="post" action="{{ path('galeria_delete', {'id': galerium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ galerium.id) }}">
    <button class="btn">Delete</button>
</form>
