{% extends 'base.html.twig' %}

{% block title %}New Galeria{% endblock %}

{% block body %}
    <h1>Create new Galeria</h1>

    {{ include('galeria/_form.html.twig') }}

    <a href="{{ path('galeria_index') }}">back to list</a>
{% endblock %}
