<form method="post" action="{{ path('pessoa_delete', {'id': pessoa.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pessoa.id) }}">
    <button class="btn">Delete</button>
</form>
