<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<title>Academia - Free Bootstrap 5 Template by Colorlib</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="preconnect" href="https://fonts.gstatic.com/">
		<link href="/assets/front/css2.css" rel="stylesheet">
		<link rel="stylesheet" href="/front/font-awesome.min.css">
		<link rel="stylesheet" href="/front/ionicons.min.css">
		<link rel="stylesheet" href="/front/animate.css">
		{% block stylesheet %}{% endblock %}
		<style>
			hero-wrap .overlay {
				opacity: 0.6 !important;
			}
			.hero-wrap {
				height: auto !important;
				min-height: auto !important;
			}
			.hero-wrap .slider-text {
				height: auto !important;
				min-height: 200px !important;
				padding-top: 100px !important;
				color: rgba(255, 255, 255, 0.8);
				z-index: 3;
			}
			.hero-wrap .overlay {
				opacity: 0.5 !important;
			}
			.ftco-section {
				padding: 2em 0 !important;
			}
			.staff .text span {
				font-size: 12px;
				font-weight: normal !important;
				text-transform: none !important;
			}

			.hidden {
				display: none
			}
			a.nav-link:hover,
			a.nav-link.active {
				border-bottom: solid 5px #39f;
				background: rgba(255, 255, 255, .8)
			}
		</style>
		<script type="text/javascript" async="" src="/front/analytics.js"></script>
		<script defer="" src="/front/js.js"></script>
		<script>
			(function (w, d) {
!function (a, e, t, r, z) {
a.zarazData = a.zarazData || {},
a.zarazData.executed = [],
a.zarazData.tracks = [],
a.zaraz = {
deferred: []
};
var s = e.getElementsByTagName("title")[0];
a.zarazData.c = e.cookie,
s && (a.zarazData.t = e.getElementsByTagName("title")[0].text),
a.zarazData.w = a.screen.width,
a.zarazData.h = a.screen.height,
a.zarazData.j = a.innerHeight,
a.zarazData.e = a.innerWidth,
a.zarazData.l = a.location.href,
a.zarazData.r = e.referrer,
a.zarazData.k = a.screen.colorDepth,
a.zarazData.n = e.characterSet,
a.zarazData.o = (new Date).getTimezoneOffset(), //
a.dataLayer = a.dataLayer || [],
a.zaraz.track = (e, t) => {
for (key in a.zarazData.tracks.push(e), t) 
a.zarazData["z_" + key] = t[key]

},
a.zaraz._preSet = [],
a.zaraz.set = (e, t, r) => {
a.zarazData["z_" + e] = t,
a.zaraz._preSet.push([e, t, r])
},
a.dataLayer.push({
"zaraz.start": (new Date).getTime()
}),
a.addEventListener("DOMContentLoaded", (() => {
var t = e.getElementsByTagName(r)[0],
z = e.createElement(r);
z.defer = !0,
z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))),
t.parentNode.insertBefore(z, t)
}))
}(w, d, 0, "script");
})(window, document);
		</script>
		<style></style>
		<style></style>
		<script type="text/javascript" charset="UTF-8" src="/front/common.js"></script>
		<script type="text/javascript" charset="UTF-8" src="/front/util.js"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	</head>
	<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1047.0" data-gr-ext-installed="">
		{% include "components/header.html.twig" %}
		<section class="hero-wrap" style="background-image:url(/images/xbg_1.jpg.pagespeed.ic.Qvddt6BzWR.webp)">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center">
					<div class="col-lg-5">
						<div class="text mt-5 pt-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
							<span class="subheading">{{subtitle}}
							</span>
							<h1 class="mb-4">{{title}}</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% block body %}{% endblock %}
		
		{{ include('components/footer.html.twig') }}
		<script src="/front/bootstrap.bundle.min.js"></script>
		<script src="/front/tiny-slider.js"></script>
		<script src="/front/glightbox.min.js"></script>
		<script>
			eval(mod_pagespeed_7_hPlGGYt1);
		</script>
		<script>
			eval(mod_pagespeed_QuG92EaMQX);
		</script>
		<script src="/front/js.js"></script>
		<script>
			eval(mod_pagespeed_mTpoFW8ALW);
		</script>
		<script>
			eval(mod_pagespeed_omftQ6ch3C);
		</script>

		<script async="" src="/front/js(1).js"></script>
		<script>
			window.dataLayer = window.dataLayer || [];

function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-23581568-13');
		</script>
		<script defer="" src="/front/v652eace1692a40cfa3763df669d7439c1639079717194.js" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon="{&quot;rayId&quot;:&quot;6dafd0200df677dd&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.12.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>

		<div id="the_notes"></div>
		<div id="the_lights">
			<div id="the_lights_close"></div>
		</div>
	</body>
</html>
